TOKEN=enter-token-here

# Optionally add 2 channel ids for the bot to notify
# when it comes online, set the value to "off"
# to make it not send or give an error
ONLINE_CHANNEL_1=off
ONLINE_CHANNEL_2=off